@import "../../composer/vendor/twbs/bootstrap/scss/bootstrap";

$border: 1px solid rgba(177, 177, 177, 0.5);

body {
    background-color: #212529;
    color: white;
}

.navbar {
background-color: $blue-400;
}

.btn {
    background-color: $blue-400;
}

.form-text {
    color: $blue-300;
}

.staticRow {
    border: $border;
}

.dynamicRow {
    border: $border;
    border-top: none;
}

.titleRow {
    border-right: $border;
}

a {
    color: $blue-400;
    text-decoration: none;
}